---
import "@fontsource/inter";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/inter/900.css";
import "../assets/fonts/font.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-bgDark2">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Criamos o MVP do seu negócio de forma rápida, eficiente e acessível"
    />
    <meta
      name="keywords"
      content="MVP, Negócio, Criação, Desenvolvimento, Acessível, Rápido, Eficiente"
    />
    <meta name="author" content="Velox Tech" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="bingbot" content="index, follow" />
    <meta name="yandexbot" content="index, follow" />
    <meta name="sitemap" content="https://veloxtech.com.br/sitemap.xml" />
    <title>{title}</title>
  </head>
  <body class="bg-bgDark2">
    <main aria-label="Main content">
      <slot />
    </main>
    <style is:global>
      html {
        font-family: "Host Grotesk", san-serif;
        background-color: #26272b;
        overflow-x: hidden;
        scroll-behavior: smooth !important;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: Syncopate, san-serif;
        font-weight: 400;
      }
    </style>
    <script>
      (function (a, b, c, d) {
        try {
          var e = b.head || b.getElementsByTagName("head")[0];
          var f = b.createElement("script");
          f.setAttribute("src", c);
          f.setAttribute("charset", "UTF-8");
          f.defer = true;
          a.neuroleadId = d;
          e.appendChild(f);
        } catch (g) {}
      })(
        window,
        document,
        "https://cdn.leadster.com.br/neurolead/neurolead.min.js",
        "IxHpK2MHrwhACLxZdLm9GTsoM"
      );
    </script>
  </body>
</html>
